In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir(".."))

['Без названия.ipynb', 'Music', '.condarc', '.DS_Store', '.CFUserTextEncoding', '.zshrc', 'Pictures', '.zprofile', 'Pandas groups.ipynb', '.zsh_history', '.ipython', 'Desktop', 'Library', '.matplotlib', 'folder_module_0', '.cups', 'PycharmProjects', 'Public', '.dropbox', 'folder_module_1', '.idlerc', '.anaconda', 'Movies', 'Dropbox', 'opt', '.Trash', '.ipynb_checkpoints', '.jupyter', 'Documents', '.bash_profile', 'Downloads', '.gitconfig', 'First pandas.ipynb', '.conda', 'Skillfactory']

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
584,tt0253798,24000000,14782676,Out Cold,Jason London|Lee Majors|Zach Galifianakis|Davi...,Brendan Malloy|Emmett Malloy,"They Haven't Quite Figured It All Out, But The...",Animal House meets Casablanca in this outrageo...,89,Comedy,Spyglass Entertainment|Touchstone Pictures,11/21/2001,6.1,2001
567,tt0278488,12000000,31155435,How High,Method Man|Redman|Obba BabatundÃ©|Mike Epps|An...,Jesse Dylan,They've got their degrees all rolled up.,Multi-platinum rap superstars Redman and Metho...,93,Comedy,Universal Pictures|Jersey Films|Native Picture...,12/21/2001,6.5,2001
1734,tt0465494,24000000,99965753,Hitman,Timothy Olyphant|Dougray Scott|Olga Kurylenko|...,Xavier Gens,Assassin 47,"The best-selling videogame, Hitman, roars to l...",89,Action|Crime|Drama|Thriller,Twentieth Century Fox Film Corporation|Dune En...,11/21/2007,5.9,2007
1342,tt0329774,87000000,71073932,xXx: State of the Union,Ice Cube|Willem Dafoe|Samuel L. Jackson|Scott ...,Lee Tamahori,Prepare for the next level,"Ice Cube stars as Darius Stone, a thrill-seeki...",101,Action|Crime|Adventure,Original Film|Columbia Pictures Corporation|Re...,4/27/2005,4.8,2005
417,tt1013743,117000000,261930431,Knight and Day,Tom Cruise|Cameron Diaz|Peter Sarsgaard|Viola ...,James Mangold,Every Hit Man Deserves a Second Shot!,A fugitive couple goes on a glamorous and some...,109,Action|Comedy,Tree Line Films|Twentieth Century Fox Film Cor...,6/15/2010,5.9,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [59]:
answers = {} # создадим словарь для ответов

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [60]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [5]:
# тут пишем ваш код для решения данного вопроса:
the_five_movies = data[data['imdb_id'].isin(['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650'])]
the_five_movies[the_five_movies['budget'] == the_five_movies['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [6]:
the_five_movies = data[data['imdb_id'].isin(['tt0167260','tt0279111','tt0360717','tt0213149','tt0346491'])]
the_five_movies[the_five_movies['runtime'] == the_five_movies['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [61]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
the_five_movies = data[data['imdb_id'].isin(['tt0299172','tt0283426','tt1449283','tt0121164','tt0443536'])]
the_five_movies[the_five_movies['runtime'] == the_five_movies['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [62]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [8]:
data['runtime'].mean()

109.6585494970884

In [63]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [9]:
data['runtime'].median()

107.0

In [64]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [65]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [11]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [66]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
data[data['profit']>0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [67]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
movie_2008 = data[data['release_year'] == 2008]
movie_2008[movie_2008['profit'] == movie_2008['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [68]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
movies_12_14 = data[data['release_year'].isin([2012,2013,2014])]
movies_12_14[movies_12_14['profit'] == movies_12_14['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [69]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [16]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
def movie_params_count(series_arg, list_arg):
    movie_params = pd.Series([0]*len(list_arg),index = list_arg)
    for i in series_arg:
        for j in list_arg:
            if j in i:
                movie_params[j] +=1
    return movie_params


five_genres = movie_params_count(data['genres'],['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller'])
five_genres[five_genres == five_genres.max()]

Drama    782
dtype: int64

ВАРИАНТ 2

In [70]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
five_genres = movie_params_count(data[data['profit']>0]['genres'],['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller'])
five_genres[five_genres == five_genres.max()]

Drama    560
dtype: int64

In [72]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [24]:
revenue_director = data[data.revenue >0].copy()
revenue_director.director = revenue_director.director.str.split('|')
revenue_director = revenue_director.explode('director')
revenue_director.groupby(['director']).revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [73]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
data_action = data[data.genres.str.contains("Action", na=False)].copy()
data_action.director = data_action.director.str.split('|')
data_action = data_action.explode('director')
data_action.groupby(['director']).director.count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

In [74]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
df = data[data['release_year'] == 2012].copy()
df['cast'] = df['cast'].str.split('|')
df = df.explode('cast')
df.groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [75]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
df1 = data[data.budget > data.budget.mean()].copy()
df1['cast'] = df1['cast'].str.split('|')
df1 = df1.explode('cast')
df1.groupby('cast').cast.count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: cast, Length: 1505, dtype: int64

In [76]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [28]:
df2 = data.copy()
df2 = df2.explode('cast') #Разделяем актоеров
df3 = df2[df2.cast.str.contains('Nicolas Cage', na=False)].copy() #фильмы с Nicolas Cage

df3['genres'] = df3['genres'].str.split('|')  #Убираю |
df3 = df3.explode('genres') #Разделяю жанр

df3.groupby('genres').genres.count().sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [77]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
low_film = data.copy()
low_film['production_companies'] = low_film['production_companies'].str.split('|') 
low_film = low_film.explode('production_companies')
low_film_P = low_film[low_film.production_companies.str.contains('Paramount Pictures', na=False)]
low_film_P.groupby('original_title').profit.sum().sort_values(ascending=True)

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

In [78]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
sum_year = data.copy()
sum_year.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [79]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [33]:
high_profit = data.copy()
high_profit['production_companies'] = high_profit['production_companies'].str.split('|') #Отделяю
high_profit = high_profit.explode('production_companies') #Разделяю
high_profit_WB = high_profit[high_profit.production_companies.str.contains('Warner Bros', na=False)] #Только Warner Bros
high_profit_WB.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

In [80]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [35]:
month = data.copy()
month['month'] = pd.to_datetime(data.release_date).dt.month 
month['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [81]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [38]:
month = data.copy()
month['month'] = pd.to_datetime(data.release_date).dt.month 
c = month['month'].value_counts() #Считаю 
count_1 = c[6] +c[7] +c[8] #Сумма по летним месяцам
count_1

450

In [89]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [39]:
director_winter = data.copy()
director_winter['month'] = pd.to_datetime(data.release_date).dt.month  #Создаю столбец с месяцами
winter = director_winter.query('month in [12, 1, 2]') #Оставляю зимние месяцы
winter.groupby('director').month.count().sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: month, Length: 332, dtype: int64

In [82]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [40]:
long = data.copy()
long['production_companies'] = long['production_companies'].str.split('|') #Отделяю
long = long.explode('production_companies') #Разделяю
long['lenght'] = long['original_title'].str.len()  #Создаю столбец с длинной символов
long.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)

                            lenght
production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
...                            ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0

[1771 rows x 1 columns]

In [83]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [42]:
long_25 = data.copy()
long_25['production_companies'] = long_25['production_companies'].str.split('|') #Отделяю
long_25 = long_25.explode('production_companies') #Разбиваю
long_25['lenght'] = long_25['overview'].str.len() #Создаю столбец с длинной слов
long_25.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)

                                       lenght
production_companies
Midnight Picture Show                  1000.0
Room 9 Entertainment                    964.0
Brookwell-McNamara Entertainment        936.0
Lions Gate Family Entertainment         909.0
Crest Animation Productions             909.0
...                                       ...
London Boulevard                         74.0
Henceforth                               74.0
Phantom Four                             72.0
Empire Pictures                          62.0
Motion Picture Corporation of America    59.0

[1771 rows x 1 columns]

In [84]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [43]:
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [85]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [47]:
duo_list = [['Johnny Depp','Helena Bonham Carter'],['Hugh Jackman','Ian McKellen'],['Vin Diesel','Paul Walker'],['Adam Sandler','Kevin James'],['Daniel Radcliffe','Rupert Grint']]
duo_list_index = [x[0]+' & ' +x[1] for x in duo_list]
duo_list_series = pd.Series([0]*len(duo_list),index = duo_list_index)
for i in range(0,len(duo_list)):
    duo_df = data[data['cast'].str.contains(r'^(?=.*'+duo_list[i][0]+')(?=.*'+duo_list[i][1]+')')]
    duo_list_series[i] = duo_df['cast'].count()
    
duo_list_series[duo_list_series == duo_list_series.max()]

Daniel Radcliffe & Rupert Grint    8
dtype: int64

In [86]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [90]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '22': '450'}

In [91]:
# и убедиться что ни чего не пропустил)
len(answers)

27